/* body {
  background: white;
} */
h3{
    background: cyan;
}

/* #sec1{
    background: pink;
    height: 100vh;
    width: 100%;
}
#sec2{
    background: rgb(148, 49, 66);
    height: 100vh;
    width: 100%;
}
#sec3{
    background: rgb(115, 110, 111);
    height: 100vh;
    width: 100%;
} */